.mount {
    display: none; left: 0;  z-index: 10; position: absolute; background-color: white; width: 100vh; height: 70px;
}
@media (max-width: 600.98px) {
    .mount {
        display: block;
    }
}